@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

nav{
    text-align: center;
    color: #2790a2;
    background-color: rgb(152, 212, 222, 0.7);
    padding: 5px 10px 10px;
    align-items: center;
}

nav #website-name h1{
    font-size: 3.3em;
    font-weight: 700;
}
nav #website-name h5{
    color: #53311B;
}

div#user a{
    text-decoration: none;
    font-size: 20px;
    color: #53311B;
}
div#user a #user-name{
    color: #2790a2;
    font-weight: 500;
}

div#log-in-out a{
    text-decoration: none;
    color:#2790a2;
    font-size: 20px;
    font-weight: 500;
    background-color:rgba(106, 164, 174, 0.2);
    padding: 3px 15px;
    border-radius: 6px;
    transition: background-color 0.23s, color 0.23s;
}

div#log-in-out a:hover{
    background-color:#3593a4;
    color: white;
}

.btn-logout {
    background-color: #579fab;
}

.content {
    width: 100vw;
}

.col-md-4 {
    border: 2px solid black;
}

.sidebar {
    left: 0;
}

#peopleList {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.uploaded {
    color: #edd113;
}

.assigned {
    color: brown;
}

.completed {
    color: #579fab;
}

div.column-1 div.container{
    background-color:rgba(0, 255, 255, 0.071);
    border:1px solid #2790a2;
    border-radius: 7px;
    box-shadow: 0 0 10px grey;
}

div.container div.given-tasks{
    background-color: #2790a2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 23px;
}

div.container div.given-tasks a:hover{
    border-bottom: 2px solid #2790a2;
    border-top: 2px solid #2790a2;
    background-color: rgba(255, 255, 255, 0.194);
}

div.task{
    margin:10px 10px 10px 0px;
    background-color: white;
    border : 1px solid #2790a2;
    padding:15px;
    color: #53311B;
    cursor: pointer;
    font-size: var(--bs-body-font-size);
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    height: 20vh;
}

div.task h5.title{
    color: #2790a2;
}

.task-body {
    height: 100vh;
}